/target/
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
/src/config.rs
*.ui.in~
*.ui~
/.flatpak/
/vendor
/.vscode
/subprojects/blueprint-compiler
app
.flatpak-builder
.vscode/settings.json
target
po/*.pot
.idea
.direnv
*.compiled
